<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid 19</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/pl-styles.css">
</head>
<main>

     
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">🍺🦠</a>
      
    </div>
  </nav>


      <div class="container-fluid pl-full-page pl-bg-greyish">
        <div class="container pt-5">
            <%=@name.capitalize%>, here are your unfortunate results:   
          <br><br><br>
        </div>

        <div class="container">
        <div class="row">
            <div class="col-12">

            <table>
                <tr>
                    <th>Sample</th>
                    <th></th>
                    <th>Results</th>
        
                </tr>
                <tr>
                    <th>--------------------</th>
                    <th><emsp></th>
                    <th>---------</th>
                </tr>
                <tr>
                    <th>Gorilla grip coochi</th>
                    <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                    <th><%=@result.sample%></th>
                </tr>
                <tr>
                    <th>Ultra silky throat</th>
                    <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                    <th><%=@result.sample%></th>
                </tr>
                <tr>
                    <th>Broke motherf*cker</th>
                    <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                    <th><%=@result.sample%></th>
                </tr>
                <tr>
                    <th>Saggy tatas</th>
                    <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                    <th><%=@result.sample%></th>
                </tr>
                <tr>
                    <th>Tight butthole</th>
                    <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                    <th><%=@result.sample%></th>
                </tr>
                <tr>
                    <th>Exceptional big balls</th>
                    <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                    <th><%=@result.sample%></th>
                </tr>
                <tr>
                    <th><p style="color: green;">COVID-19</p></th>
                    <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                    <th><p style="color: green;">inconclusive</p></th>
                </tr>

            </table>
            </div>

            
                <div class="col-12">
                <br><br><br>-------------------<br>
                Rx Prescriptions:<br>
                Stay home. Save lives. Save yourself. Wear mask.
                <br><br>
                    <audio controls>
                        <source src="../music/nevergiveup.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                <br>
                <a class="btn btn-outline-success mr-3" href="/" role="button">lol, this shit whack. Try again.</a>
                </div>
               

        </div>
      </div>

  </main>

</html>

  